*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/APK keystore/pixiemusicKeystore.jks
/APK keystore/pwd key.txt
/crowdin.properties
/__crowdin.properties
